<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make a Reservation</title>
</head>
<body>
<h1>Reservation Form</h1>
<form th:action="@{/reserve}" th:object="${reservation}" method="post">
    <input type="text" th:field="*{user.firstName}" placeholder="First Name"/>
    <input type="text" th:field="*{user.lastName}" placeholder="Last Name"/>
    <input type="text" th:field="*{user.CIN}" placeholder="CIN"/>
    <input type="text" th:field="*{user.address}" placeholder="Address"/>
    <input type="email" th:field="*{user.email}" placeholder="Email"/>
    <input type="text" th:field="*{user.phoneNumber}" placeholder="Phone Number"/>
    <input type="text" th:field="*{installationLocation}" placeholder="Installation Location"/>
    <input type="number" th:field="*{space}" placeholder="Space in m*m"/>
    <select th:field="*{equipment.id}">
        <option th:each="equip : ${equipments}" th:value="${equip.id}" th:text="${equip.name}"></option>
    </select>
    <input type="date" th:field="*{provisionalDate}" placeholder="Provisional Date"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>
